{{define "edit"}}
{{template "_header"}}
{{template "_nav"}}
<div class="container">
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Editando produtos</h1>
                <p class="lead">Insira os dados para atualizar produtos</p>
            </div>
        </div>
        <form method="POST" action="/update">
            {{range .}}
            <input type="hidden" name="id" value="{{.Id}}">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" name="nome" class="form-control" value="{{.Nome}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <input type="text" name="descricao" class="form-control" value="{{.Desc}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="preco">Preço:</label>
                        <input type="number" name="preco" class="form-control" step="0.01" value="{{.Price}}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="quantidade">Quantidade:</label>
                        <input type="number" name="quantidade" class="form-control" value="{{.Quant}}">
                    </div>
                </div>
            </div>
            {{end}}
            <button type="submit" value="salvar" class="btn btn-success">Salvar</button>
            <a class="btn btn-info" href="/">Voltar</a>
        </form>
    </body>
</div>
</body>
</html>
{{end}}
